<form
        class="form-horizontal"
        autocomplete="off"
        #editNationalityForm="ngForm"
        (ngSubmit)="save()"
>
    <abp-modal-header
            [title]="'Thêm Nationality'"
            (onCloseClick)="bsModalRef.hide()"
    ></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="NationalityName">
                Nationality Name
            </label>
            <div class="col-md-9">
                <input
                        type="text"
                        class="form-control"
                        name="NationalityName"
                        id="NationalityName"
                        minlength="2"
                        maxlength="64"
                        required
                        [(ngModel)]="name"
                        #nationalityNameModel="ngModel"
                        #nationalityNameEl
                />
                <abp-validation-summary
                        [control]="nationalityNameModel"
                        [controlEl]="nationalityNameEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">
                {{ "Ảnh" }}
            </label>
            <div class="col-md-9">
                <div class="form-group">
                    <label class="lable-input" for="file" [hidden]="isHidden">Choose File</label>
                    <input [hidden]="true" type="file"
                           id="file"
                           (change)="handleFileInput($event)">
                    <div class="chooseFile" *ngIf="imgSrc">
                        <img src="{{imgSrc}}">
                        <button (click)="removeImage()">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer
            [cancelDisabled]="saving"
            [saveDisabled]="!editNationalityForm.form.valid || saving"
            (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
</form>
